:root{
    --primary: rgb(9, 83, 11);
    --secondary: rgb(188, 137, 59);
    --bg: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins';
    background-color: var(--bg);
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1.4rem 7%;
    background-color:  rgb(9, 83, 11, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
}

.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}


.navbar .navbar-nav a{
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: var(--secondary)
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--secondary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-extra a{
    color: white;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--secondary);
}

#hamburger-menu{
    display: none;
}

/* Home Section  */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255) 8%, rgba(255, 255, 255, 0) 50%);
}

.home .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
    background-color: rgba(9, 83, 11, 0.3);
}

.home .content h1{
    font-size: 5em;
    color:  white;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    line-height: 1.2;
}

.home .content p{
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    color: white;
    /* mix-blend-mode: difference; */
}

.home .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: white;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

/* About section  */
.about, 
.menu,
.order{
    padding: 10rem 7% 1.4rem;
    
}

.about h2, 
.menu h2,
.order h2{
    text-align: center;
    font-size: 2.6rem;
    color: var(--secondary);
    margin-bottom: 3rem;
}

.about .row{
    display: flex;
}

.about .row .about-img{
    flex: 1 1 45rem;
}

.about .row .about-img img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--secondary);
}

.about .row .content article{
    text-align: justify;
    margin-bottom: 0.8rem;
}

.about .row .content article p{
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}

/* menu section  */
.menu h2, 
.order h2{
    margin-bottom: 1rem;
}

.menu p,
.order p{
    text-align: center;
    max-width: 40rem;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}

.menu .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu .row .menu-card{
    text-align: center;
    padding: 3rem 3rem;
    /* background-color: var(--secondary); */
}

.menu .row .menu-card img{
    width: 20rem;
}

.menu .row .menu-title{
    margin: 1rem auto 0.5rem;
}

/* order section  */
.order .row{
    display: flex;
    margin-top: 2rem;
    background-color: rgb(9, 83, 11, 0.9);
    /* flex-wrap: wrap; */
}

.order .row .map{
    flex: 1 1 45rem;
    width:  100%;
    object-fit: cover;
}

.order .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.order .row form h4{
    text-align: center;
    font-size: 2rem;
    color: var(--secondary);
    margin-bottom: 3rem;
}

.order .row form .input-group{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    color: rgba(255, 255, 255, 0.516);
    background-color: rgb(9, 83, 11);
    border: 1px solid black;
    padding-left: 2rem;
}

.order .row form .input-group input{
    width: 100%;
    padding: 0.5rem;
    font-size:  1.5rem;
    background: none;
    color: rgba(255, 255, 255, 0.516);
}

.order .row form .btn{
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size:  1.7rem;
    color: black;
    background-color: rgb(110, 159, 112);
    cursor: pointer;
}

/* testimonials  */
#testimonials{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.testimonials h2{
    text-align: center;
    font-size: 2.6rem;
    color: var(--secondary);
    margin-bottom: 2rem;
    margin-top: 10rem;
}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0 , 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.box-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.box-profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
}

.box-profile{
    display: flex;
    align-items: center;
}

.box-name-user{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.box-name-user strong{
    color: var(--secondary);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.box-name-user span{
    color: black;
    font-size: 0.8rem;
}

.reviews{
    color: var(--secondary);
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.feather-size1{
    width: 1rem;
    height: 1rem;
}

.feather-size2{
    width: 2.5rem;
    height: 2.5rem;
}

.feather-size3{
    width: 1.5rem;
    height: 1.5rem;
}

.client-comment{
    font-size: 0.9rem;
    text-align: start;
}

/* aside  */
#aside{
    display: flex;
    margin-top: 7rem;
    margin-bottom: 7rem;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.aside-box{
    width: 300px;
    border-radius: 25%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0 , 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.aside .aside-box img{
    width: 10rem;
}

.aside .aside-box h2{
    font-size: 2rem;
}



/* footer  */
footer{
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .socials{
    padding: 1rem 0;
}

footer .socials a{
    color: white;
    margin:  1rem;
}

footer .socials a:hover,
footer .links a:hover{
    color: var(--secondary);
}

footer .links{
    margin-bottom: 1rem;
}

footer .links a{
    color: white;
    padding: 0.5rem 0.8rem;
}

footer h5{
    color: white;
}

footer .credit{
    color: white;
}







/* media queries */

/* laptop */
@media(max-width: 1366px){
    html{
        font-size: 70%;
    }

}

/* tablet */
@media(max-width: 768px){
    html{
        font-size: 60%;
    }

    #hamburger-menu{
        display: inline-block;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;
        transition: 0.8s;
    }

    .navbar .navbar-nav.active{
        right: 0;
        background-color: rgba(255, 255, 255, 80%);
    }

    .navbar .navbar-nav a{
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }
    
    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.2);
    }

    .about .row{
        flex-wrap: wrap;
    }

    .about .row .about-img img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content{
        padding: 0;
    }

    .about .row .content h3{
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p{
        font-size:  1.6rem;
    }

    .order .row{
        flex-wrap: wrap;
    }

    .order .row .map{
        height: 30rem;
    }

    .order .row form{
        padding-top: 1rem;
    }

}

/* mobile */
@media(max-width: 450px){
    html{
        font-size: 50%;
    }
}